*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  margin: 133px 30px 133px;
  display: grid;
  grid-template-columns: 711px 399px;
  align-items: end;
  width: 1140px;
  gap: 30px;
}

.result {
  display: grid;
  width: 100%;
}

.search-form {
  display: grid;
  justify-content: space-between;
  align-items: start;
  height: auto;
  gap: 40px;
  grid-template-columns: 225px 213px 194px;
}

.search-form__fieldset-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 400;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__fieldset:has(.search-form__fieldset-title:hover) {
  cursor: default;
}

.result__video-container {
  position: relative;
  block-size: 386px;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content__details {
  width: auto;
  height: auto;
}

.title {
  margin-bottom: 26px;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.content__accent {
  color: #545050;
}

.content__list-item {
  display: block;
  padding-left: 3px;
  padding-right: 3px;
}

.content__list-container {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  height: 298px;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: white;
}

.content__video-card {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 2px 0px 2px 0px;
}

.content__video-card:focus-visible {
  outline: 10px solid white;
  outline-offset: 10px;
}

.content__video-card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
  font-size: 30px;
  line-height: 30px;
  padding-top: 3px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
}

.content__video-card-description {
  max-width: 200px;
  font-size: 18px;
  line-height: 16.2px;
  padding-top: 6px;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 200px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
}

.search-form__label {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label:hover .search-form__label-text {
  border-bottom: 1px solid white;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  appearance: none;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  width: 225px;
  font-weight: 400;
  height: 27px;
  background-color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  line-height: 21.6px;
  font-size: 18px;
}

.search-form__textfield::placeholder {
  color: rgb(255, 255, 255 0.7);
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__label:has(.search-form__textfield:active) {
  outline: none;
  border: 1px solid white;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  height: 22px;
}

.search-form__pseudo-checkbox {
  appearance: none;
  position: relative;
  margin-right: 5px;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
}

.search-form__label:focus-within {
  outline: 1px solid white;
  outline-offset: 2px;
}

.search-form__label:active {
  outline: none;
}

.button {
  align-self: flex-end;
  cursor: pointer;
  font-size: 18px;
  background-color: transparent;
  color: white;
  font-weight: 700;
  border: 1px solid currentColor;
  height: 34px;
  font-family: "Fira Sans Condensed", sans-serif;
}

.more-button {
  margin-top: 32px;
  align-items: end;
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline-offset: 2px;
  outline: 1px solid white;
}

.button:active {
  background-color: #545050;
  outline: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
  outline: none;
}

.content__card-link:hover {
  text-decoration: underline;
}

.preloader-template {
  position: absolute;
}

.preloader {
  position: absolute;
}

.preloader-chasing-squares {
  position: absolute;
}
